.chart-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #1A1919;
    margin-top: 50px;
}
.composed-bg-img{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%), url('../../images/Vector.png');
    height: 200px;
    background-repeat: no-repeat;
    position: relative;;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}