.features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 1280px;
    margin: 0 auto;
   
}

.features-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: #1A1919;
}

.features-des {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #757575;

}